@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  /* Prevent Drags */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Theme */
@layer base {
  .light {
    --primary: rgb(253, 121, 168);
    --primary-40: rgba(253, 121, 168, 0.4);
    --background: rgb(240, 240, 240);
    --content: rgb(54, 54, 54);
  }

  .dark {
    --primary: rgb(159, 224, 218);
    --primary-40: rgba(159, 224, 218, 0.4);
    --background: rgb(54, 54, 54);
    --content: rgb(240, 240, 240);
  }
}

@layer components {
}
